anyio==3.7.1
beautifulsoup4==4.14.2
blinker==1.9.0
cachetools==6.2.1
certifi==2025.10.5
charset-normalizer==3.4.4
chess==1.11.2
click==8.3.0
coverage==7.11.0
fastapi==0.104.1
Flask==2.3.3
flask-cors==6.0.1
git-filter-repo==2.47.0
google-api-core==2.28.1
google-api-python-client==2.186.0
google-auth==2.41.1
google-auth-httplib2==0.2.1
google-auth-oauthlib==1.2.3
googleapis-common-protos==1.71.0
gunicorn==20.1.0
h11==0.16.0
heroku3==5.2.1
httplib2==0.31.0
idna==3.11
iniconfig==2.3.0
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
meson==1.9.1
networkx==3.5
numpy @ file:///home/builder/.termux-build/python-numpy/src/dist/numpy-2.2.5-cp312-cp312-linux_aarch64.whl#sha256=34bd49517455c5c6bbdee6ad2c787a3eb06b2610e1ff3a42ffb49cee285be376
oauthlib==3.3.1
packaging==25.0
pillow==12.0.0
pluggy==1.6.0
proto-plus==1.26.1
protobuf==6.33.0
psutil==7.1.1
pyasn1==0.6.1
pyasn1_modules==0.4.2
pydantic==1.10.24
Pygments==2.19.2
pyparsing==3.2.5
pytest==8.4.2
pytest-cov==7.0.0
python-chess==1.999
python-dateutil==2.9.0.post0
python-dotenv==1.0.0
python-multipart==0.0.20
PyYAML==6.0.3
requests==2.32.5
requests-oauthlib==2.0.0
rsa==4.9.1
setuptools==80.9.0
six==1.17.0
sniffio==1.3.1
soupsieve==2.8
starlette==0.27.0
transformers==4.57.3
typing_extensions==4.15.0
uritemplate==4.2.0
urllib3==2.5.0
uvicorn==0.24.0
websocket-client==1.9.0
Werkzeug==3.1.3
wheel==0.45.1
